# Byte-compiled / optimized / DLL files
__pycache__/

# pycharm
.idea

# Ipython stuff
# Dont commit ipython notebooks, just use md.
.ipynb_checkpoints

# linux/osx garbage
*~
*.swp
.DS_store*

# docs
docs/api/*
_autosummary
.quarto/
docs/site_libs
*.html
report_files
libs
*pdf
*png
*tex

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# binaries (need to compile these for each installation)
bin/
bin_mpi/
